*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body{
  background-color: #001023;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CardQuestion{
  border-radius: 2vmax;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1vmax;
  width: 70%;
  padding: 3vmax;
  margin: 5% auto;
  background-color: #0B376C;
  font-size: 1.5vmax;
}

.CreateForm{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.InputQuestion, .InputQuestionNumber{
  border-radius: .5vmax;
  padding: .5vmax;
  width: 100%;
  font-size: 1.5vmax;
}

.InputQuestionNumber{
  width: 30%;
  margin: 0 0 0 1vmax;
}

.LabelInput{
  color: white;
}



.RadioQuestion{
margin: 0 1vmax 0 0;

}


.Title, .TitleQuestion{
  color: white;
}

.PlusButton{
  background-color: #0B376C;
  color: white;
  margin: 5% auto;
  width: 10vmax;
  height: 10vmax;
  border-radius: 5vmax;
  font-size: 7vmax;
  
}

